body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-container {
  background-color: aliceblue;
  padding: 15px;
}

.program-list-container {
  margin: 0px;
}

.filters {
  background-color: white;
  padding: 5px;
  max-height: 550px;
}

.filter-title {
  padding: 2px;
  border-bottom: grey 1px solid;
}

.green-pill, .green-pill-active{
  padding: 2px;
  background-color: green;
  border-radius: 5px;
  margin: 5px;
}

.green-pill {
  background-color: lightgreen;
}

.program-list-box {
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
}

.program-list-item {
  background-color: white;
  padding: 15px;
}

.program-list-item img {
  max-width: 220px;
}